<!DOCTYPE html>
<html>
<head>
	<title>Calculator Form</title>
	<script type="text/javascript" src="angular.min.js"></script>
	<script type="text/javascript" src="calformval.js"></script>
	<link rel="stylesheet" type="text/css" href="calform.css">
	<script type="text/javascript" src="calform.js"></script>
</head>
<body ng-App="mycal" ng-controller="calctrl" ng-init="">

<center>
<div id=box>
	<div>
		
	<div><input class="input2" id="result" type="text" ng-model="display" name=display></div>
		<p class="p">
		<input type="button" id="eqn-bg" name="+" ng-click="op('+')" value="+">
		<input type="button" id="eqn-bg" name="-" ng-click="op('-')" value="-">
		<input type="button" id="eqn-bg" name="*" ng-click="op('*')" value="x">
		<input type="button" id="eqn-bg" name="/" ng-click="op('/')" value="/">
		</p>
		<p>
		<input class="btn-style" id="num-bg" type="button" name="7" ng-click="input(7)" value=7>
		<input class="btn-style" id="num-bg" type="button" name="8" ng-click="input(8)" value=8>
		<input class="btn-style" id="num-bg" type="button" name="9" ng-click="input(9)" value=9>
		</p>
		<p>
		<input class="btn-style" id="num-bg" type="button" name="4" ng-click="input(4)" value=4>
		<input class="btn-style" id="num-bg" type="button" name="5" ng-click="input(5)" value=5>
		<input class="btn-style" id="num-bg" type="button" name="6" ng-click="input(6)" value=6>
		</p>
		<p>
		<input class="btn-style" id="num-bg" type="button" name="1" ng-click="input(1)" value=1>
		<input  class="btn-style" id="num-bg" type="button" name="2" ng-click="input(2)" value=2>
		<input class="btn-style" id="num-bg" type="button" name="3" ng-click="input(3)" value=3>
		</p>
		<p>
		<input class="btn-style" id="num-bg" type="button" name="C" ng-click="clear(c)" value="C">
		<input class="btn-style" id="num-bg" type="button"  name="=" ng-click="e()" value="=" ng-keydown="e()">
		<input class="btn-style" id="num-bg" type="button" name="." ng-click="input('.')" value=".">
		</p>
	</div>
</div>
</body>
</html>